{% extends "AppBundle:layouts:layout.html.twig" %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/js/custom/nick-test.js') }}"></script>
{% endblock %}
{% block content %}
    <div class="col col-lg-6 box-form">
        <h2>Sign up</h2>
        <hr/>
        {{ form_start(form, {'action':'','method':'POST'}) }}
        {{ form_errors(form) }}
        {{ form_end(form) }}
    </div>
{% endblock %}